.index-page {
  // background: url('../../static/images/logo-animation.svg') no-repeat fixed;
  background-size: cover;
  position: relative;
  background-position: 20% 90%;
  width: 100vw;
  height: 100vh;

  .index-card-box {
    z-index: 2;
    min-width: 400px;
    border-radius: 6px;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, .07);
    width: 30vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px 5px 30px;
    box-sizing: border-box;
    transition: heigth .3s;
    overflow: hidden;
    transition: height .3s;

    .index-box-title {
      margin: 0 0 10px 0;
      text-align: center;
      user-select: none;
      font-size: 28px;
      font-weight: 500;
      height: 50px;

      .title-font {
        margin: 0 auto;
        width: 300px;
        height: 80px;
        transform: scale(.6) translate(0, -30px);
        background: url('../../static/images/logo.svg') no-repeat;
        background-size: 300px 80px;
      }

    }

    .arco-card-body {
      height: 100%;

      form {
        justify-content: center;
      }

      .register-form {
        animation-name: bounceInUp;
        animation-duration: calc(1s * 0.75);
      }

      .login-form {
        animation-name: bounceInUp2;
        animation-duration: calc(1s * 0.75);
      }
    }


  }

  .register-box {
    opacity: .95;
    height: 400px;
  }

  .login-box {
    opacity: .95;
    height: 290px;
  }

  .operation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    // align-content: center;

    .operation-button {
      max-width: 40%;
      height: 40px;
      flex: 1;
      border-radius: 6px;
    }

    .cancel-btn {
      margin-right: 10px;
    }

    .login-btn {
      margin-left: 10px;
    }
  }

  .extra-bar {
    display: flex;
    // justify-content: space-between;
    justify-content: flex-end;
    color: #007afd;
    margin-top: 8px;
    font-size: 13px;

    a {
      border-bottom: 1px solid #007afd;
    }
  }

  .arco-input-group-addafter {
    padding: 0 !important;
  }

  .arco-card-size-default .arco-card-body {
    padding: 16px 0;
  }

  .svg-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    z-index: -2;

    .issue-box {
      transform: translate(0, 20%);
    }

    .news-box {
      transform: translate(0, -20%);
    }
  }

  .forget-box {
    .forget-password {
      margin-top: -5px;
      padding: 0;
      float: right;
      height:auto;
      font-size: 12px;
      // height: 25px;
      // width: 30px;
    }
  }

}

// loginpage模糊效果
.index-page::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  background: rgba(255, 255, 255, 0.5);
  filter: blur(2px);
  z-index: 1;
}


@keyframes bounceInUp2 {

  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 1200px, 0);
    transform: translate3d(0, 1200px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {

  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 600px, 0);
    transform: translate3d(0, 600px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }


}