.report-page {
  height: 95%;
  box-sizing: border-box;
}

.report-header {
  height: 15%;

  .title {
    font-size: 20px;
    padding-left: 20px;
  }

  .control {
    padding-left: 20px;

    .arco-switch {
      background-color: var(--theme-color-background);

      .arco-switch-dot {
        color: var(--theme-color-text);
      }
    }

    .arco-switch-checked {
      background-color: var(--theme-color-background);

      .arco-switch-dot {
        color: var(--theme-color-text);
      }
    }
  }
}

.charts-container {
  display: flex;
  flex-direction: row;
  height: 70%;
  background: var(--theme-background);
  color: var(--theme-text);
}

.left,
.right {
  position: relative;
  flex: 1 0 auto;
}

.box-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}