.settingPage {
  height: 100%;
  .fontSize {
    width: 200px;
    height: 40px;
  }

  .themeColor {
    width: 600px;
    height: 40px;
    margin-top: 30px;
  }
  .tabChange {
    margin-top: 20px;
    display: flex;
    align-content: flex-start;
  }
}