$header-height: 52px;
$article-container-padding: 10px 12% 0 12%;

.article-container {
  height: calc(100vh - $header-height - 10px);
  box-sizing: border-box;
  margin: $header-height auto 10px;
  padding: $article-container-padding;
  background-color: rgb(var(--gray-1));
}