$header-height: 64px;
$article-container-padding: 10px 12% 0 12%;

.article-container {
  position: relative;
  height: calc(100vh - $header-height);
  box-sizing: border-box;
  margin: $header-height auto 0;
  padding: $article-container-padding;
  background-color: rgb(var(--gray-1));
  overflow: auto;
}