.editName {
  margin-left: 20px;
  margin-top: 20px;
  width: 250px;
  cursor: 'pointer';

  .editWrapper {
    display: flex;
    justify-content: center;
  }

}

.personal-page {
  display: flex;
  flex-wrap: wrap;
  .personal-box {
    padding: 5px 30px;
    margin-top: 20px;
    height: 20px;
    width: 100%;

    text-align: center;
    .reset-form {
      margin: 0 auto;
      max-width: 1000px;
    }

    button {
      margin: 5px;
    }
  }}

.reactEasyCrop_Container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  user-select: none;
  touch-action: none;
  cursor: move;

  .reactEasyCrop_Image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // will-change: transform;
  }
}
.sliderWrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.footerBtn {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
