$header-height: 52px;

.pub-header-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
  overflow: hidden;
  height: $header-height;
  background-color: #fff;

  .arco-tabs-header-nav::before {
    background-color: transparent;
  }
}

.pub-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px;
}

.header-left,
.header-right {
  display: flex;
  flex-direction: row;
}

.logo {
  font-size: 25px;
  line-height: $header-height;
}

.pub-header,
.header-tabs,
.header-left {
  height: inherit;

  .arco-tabs-header-nav,
  .arco-tabs-header-scroll {
    height: inherit;
  }
}

.pub-avatar {
  line-height: $header-height;
  cursor: pointer;

  .arco-avatar-text {
    font-size: 14px;
    user-select: none;
  }
}

.content-container {
  padding: 5px 10px 1px 10px;
  text-align: center;
  background-color: var(--color-bg-popup);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.content-item {
  cursor: pointer;
  color: rgb(var(--gray-6));

  .item-icon {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 8px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.content-item:hover {
  color: rgb(var(--gray-8));
}