.card-item {
  margin-bottom: 10px;

  .arco-card-body {
    display: flex;
    flex-direction: row;
  }

  .card-left {
    flex: 1 0 auto;
    max-width: 23%;
    max-height: 146px;
    min-height: 140px;
    min-width: 250px;
    width: 23%;

    .img-container {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    .arco-image {
      border-radius: var(--border-radius-medium);
    }

    .arco-image,
    .arco-image-img {
      position: relative;
      width: inherit;
      height: 100%;
    }

    .arco-image::before {
      content: "";
      position: absolute;
      width: inherit;
      height: 100%;
      background-image: url('~@/static/images/load.gif');
      background-size: cover;
    }

  }

  .card-right {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 3 1 auto;
    padding: 0 0 15px 20px;

    .title {
      padding: 2px 0;
      font-size: calc(var(--theme-font-size) + 4px);
      cursor: pointer;
      transition: color .2s;
    }

    .title:hover {
      color: rgb(var(--orangered-8));
    }

    .content {
      padding: 4px 70px 0 0;
      overflow: hidden;
      cursor: pointer;
    }

    .footer {
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: row;
      font-size: calc(var(--theme-font-size) - 2px);

      .time {
        margin-right: 20px;
      }

      .source {
        cursor: default;
      }
    }
  }
}

.newslist-container {
  .arco-image {
    overflow: hidden;

    img {
      transition: all .3s;
    }
  }

  .card-item:hover {
    box-shadow: 2px 2px 2px 2px #d6d6d6;

    img {
      transform: scale(1.05);
    }
  }
}


.is-card.card-item {
  float: left;
  width: 24%;
  min-width: 240px;
  margin-right: 0.5%;

  .arco-card-body {
    display: block;
    height: 280px;

    .card-left {
      display: block;
      max-height: 120px;
      height: 120px;
      min-width: 100%;
      max-width: 100%;
      width: 100%;

      .img-container {
        width: inherit;
      }
    }

    .card-right {
      padding: 0 5px 15px 5px;
      height: calc(100% - 150px);

      .title {
        padding-top: 8px;
      }

      .content {
        padding: 4px 0 0 0;
      }

    }
  }
}