body {
  color: var(--theme-text);
  background: var(--theme-background);

  .arco-card.card-item {
    background-color: transparent;
  }

  .arco-card-size-default {
    font-size: var(--theme-font-size);
  }

  .article-container {
    background: var(--theme-background-2);

    .arco-card {
      background: var(--theme-background);
    }

    .arco-card-bordered {
      border: 1px solid var(--theme-border);
    }
  }

  .pub-avatar .arco-avatar-circle {
    border-color: var(--theme-color-text);
  }

  // 侧边栏
  .arco-menu-light {
    background: var(--theme-background);

    .arco-menu-item {
      background: transparent;

    }

    .arco-menu-selected {
      color: var(--theme-color-text);

      .arco-icon {
        stroke: var(--theme-color-text);
      }
    }

  }

  // 按钮
  .arco-btn-primary {
    background-color: var(--theme-color-background);
  }

  .arco-btn-primary:not(.arco-btn-disabled):not(.arco-btn-loading) {
    background: var(--theme-color-background);
  }

  .arco-btn-primary:not(.arco-btn-disabled):not(.arco-btn-loading):hover {
    background: var(--theme-color-background);
  }

  .arco-btn-text:not(.arco-btn-disabled) {
    color: var(--theme-color-text)
  }

  .arco-backtop-button,
  .arco-backtop-button:hover {
    background: var(--theme-color-background);
  }

  .arco-btn-primary:not(.arco-btn-disabled) {
    background: var(--theme-color-background);
  }


  .detail-box .arco-backtop svg {
    stroke: var(--theme-color-background);
  }

  .detail-box .arco-backtop .arco-icon-to-top {
    stroke: white !important;
  }

  // 单选框
  .arco-radio-button.arco-radio-checked {
    color: var(--theme-color-text);
  }

  // header
  .arco-tabs-header-title {
    color: var(--theme-text);
  }

  .arco-tabs-header-title-active,
  .arco-tabs-header-title-active:hover {
    color: var(--theme-color-text);
  }

  .arco-tabs-header-ink {
    background: var(--theme-color-background);
  }

  .arco-input-inner-wrapper-focus {
    border-color: var(--theme-color-text);
  }

  .arco-modal-title .arco-icon-info-circle-fill {
    color: var(--theme-color-text);
  }

  .arco-icon .arco-icon-info-circle-fill {
    stroke: var(--theme-color-text);
  }

  .arco-tabs-nav-icon-disabled {
    color: var(--color-text-4);
  }

  .arco-card-body,
  .userPage .arco-menu-light .arco-menu-item,
  .arco-comment-content,
  .arco-comment-author,
  .arco-comment-actions,
  .arco-tabs-header-scroll .arco-icon-hover {
    color: var(--theme-text);
  }

}

.bold {
  font-weight: bold;
}

.margin-right-large {
  margin-right: 20px;
}

.btn-in-theme {
  color: var(--color-white) !important;
  background: var(--theme-color-background) !important;
}

.icon-in-theme {
  color: var(--theme-color-background) !important;
}

.load-in-theme {
  .arco-spin-dot{
    background: var(--theme-color-background) !important;
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.clearfix {
  *zoom: 1;
}
